<apex:component >
	<apex:attribute name="currentSObjectId" description="SFDC object Id" type="String" required="true"/> 
	<apex:attribute name="currentSObjectType" description="SFDC Object Type" type="String" required="true"/>
	<apex:attribute name="escape" description="Is Data Escaped?" type="Boolean" required="true"/>

	<apex:pageBlockSection columns="1" showHeader="false">
		<!-- Imitating pageBlockTable header -->
		<table cellspacing="0" cellpadding="0" border="0" class="list">
			<thead class="rich-table-thead">
				<tr class="headerRow">
					<th class="headerRow">
						<div>
							<img src="{!$Resource.web}/mkto/images/message.png" style="float: left; margin-left: 2px; margin-right: 6px;"/>
							<a href="javascript:openPopupFocusEscapePounds('/apex/RSS_Lead_Feed', 'MSI_LeadFeed', 600, 700, 'width=600,height=700,resizable=yes,toolbar=yes,status=yes,scrollbars=yes,menubar=yes,directories=no,location=yes,dependant=no', false, false);"
		             title="Subscribe to feed" class="stream-rss"><img src="{!$Resource.web}/mkto/images/rss16.png" /></a>
		          Lead Feed
						</div>
					</th>
				</tr>
			</thead>
			<tbody id="stream-content">
				<tr class="dataRow even last">
					<td class="dataCel">
						<div id="stream-content-loading"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</apex:pageBlockSection>
	
	<div id="stream-empty-message" class="mkt-tabs-message">No interesting moments<br />in past two weeks</div>
	
	<script type="text/javascript">
		// load lead feed asynchronously
		$j(function() {
			Marketo.setLoading('#stream-content-loading');
			
			var params = {
				objectId: '{!currentSObjectId}',
				objectType: '{!currentSObjectType}',
				escape: '{!escape}'
			};
			
			Marketo.get('{!$Page.StreamService}', 'getStream', params, function(data) {
				var html = $j(data).find('tbody').html();
				
				$j('#stream-content').html(html);
				$j('#stream-empty-message')[html ? 'hide': 'show']();
				Marketo.unsetLoading('#stream-content-loading');
			}, 'text');
		});
	</script>
</apex:component>