<apex:page showHeader="false" sidebar="false" >
  <script type="text/javascript" src="{!$Setup.ContactWorldAgentInterfaceUri__c.Agent_Interface_Uri__c}Javascript/ClickToDialSecurityToken"></script>
</apex:page>