<apex:component controller="BMXQ.EndUserProposalCtrl" access="global" selfClosing="true">
    <messaging:attachment filename="{!attachmentName}" renderAs="pdf" rendered="{!attachEmails}">
        
        <apex:include pageName="{!IF(!ISBLANK($CurrentPage.parameters.proposal) 
                ||
                (!ISBLANK($CurrentPage.parameters.save_new_url) &&
                CONTAINS($CurrentPage.parameters.save_new_url, 'proposal')), 'Proposal_PDF','Blank')}"/>      
    </messaging:attachment>
</apex:component>