<apex:page standardController="Quotelineitem" >
  <apex:pageBlock title="Error">   <p><b>You can not delete/modify items on Quote</b></p>
  <br>
   Please modify Products information on Opportunity record and Sync to update Quote Products</br>
   
   
   </apex:pageBlock>
 
  </apex:page>