<apex:page standardController="Opportunity">
<apex:outputPanel rendered="{!Opportunity.Shipping_Needed__c}">
    <script>
      window.top.location.href = "/apex/OpptyShippingCapture?id={!Opportunity.id}";
    </script>
  </apex:outputPanel>
</apex:page>