<apex:page >
<h1>{!$Label.PRM_MDF_SplashHeader}</h1> <br/><br/>
<h3>{!$Label.PRM_MDF_SplashWelcome}</h3> <br/><br/>
<h2>{!$Label.PRM_MDF_SplashText}</h2> <br/><br/>
<apex:outputLink value="/apex/PRM_MDF_Splash_page" id="theLink1">Getting Started</apex:outputLink><br/>
<apex:outputLink value="/apex/PRM_MDF_Splash_page" id="theLink2">MDF Guidelines</apex:outputLink><br/>
<apex:outputLink value="/a2X/e" id="theLink3">Submit MDF Request</apex:outputLink><br/>
<apex:outputLink value="/apex/PRM_MDF_ViewRequests" id="theLink4">View MDF Requests</apex:outputLink><br/>
<apex:outputLink value="/apex/PRM_MDF_Splash_page" id="theLink5">Submit Invoice</apex:outputLink><br/>
</apex:page>