<apex:page Controller="PRM_MDF_PopUploadController">
<h1>{!$Label.PRM_MDF_SplashHeader}</h1> <br/><br/>
<h3>{!$Label.PRM_MDF_FinancialPopWelcome}</h3> <br/><br/>
<h2>{!$Label.PRM_MDF_FinancialPopText}</h2> <br/><br/> 
<h2>PO#: {!$CurrentPage.parameters.PO}</h2>
<apex:form enctype="multipart/form-data" >
    <apex:pageMessages />
    <apex:pageBlock title="">

      <apex:pageBlockButtons >
      	<apex:commandButton action="{!Cancel}" value="Cancel" />
        <apex:commandButton action="{!upload}" value="Save and Next" />
      </apex:pageBlockButtons>

      <apex:pageBlockSection showHeader="false" columns="2" id="block1">

        <apex:pageBlockSectionItem >
          <apex:outputLabel value="Upload Financial POP" for="file"/>
          <apex:inputFile value="{!attachment.body}" filename="{!attachment.name}" id="file"/>
        </apex:pageBlockSectionItem>
        
      </apex:pageBlockSection>
      
  	<apex:pageBlockTable value="{!attchmentList}" var="a" rendered="{!attchmentList.size > 0 }">
					<apex:column >
					<apex:commandLink value="Remove" action="{!remove}" >
			            <apex:param name="removePopId"
			                value="{!a.ParentId}"
			                assignTo="{!removePopId}"/>
			        </apex:commandLink>
			        </apex:column>
                    <apex:column headerValue="File Name">
                    <a href="{!URLFOR($Action.Attachment.Download, a.Id)}">{!a.name}</a>
                    </apex:column>
                </apex:pageBlockTable>	
    </apex:pageBlock>
    </apex:form>
</apex:page>