<apex:page standardController="Quote" tabStyle="Quote">
<apex:outputPanel rendered="{!IF(Quote.Status != 'Approved' && Quote.Theater__c != 'Renewals' &&
                            ((Quote.Max_Exception_Discount__c != null && Quote.Max_Exception_Discount__c > 45) || 
                            (Quote.Max_Non_Exception_Discount__c != null && Quote.Max_Non_Exception_Discount__c > 55) || 
                            (Quote.Max_Refurb_Discount__c != null && Quote.Max_Refurb_Discount__c > 0)), true, false)}">
<div style="text-align:center; color:red;"><strong><apex:outputText >The quote needs approval before you can use the Create PDF or New Proposal button. Click "Submit for Approval" to initiate the approval process.</apex:outputText></strong></div>
</apex:outputPanel>
</apex:page>