<apex:page id="ResetPassword" showHeader="false" sidebar="true" controller="ResetYourPasswordController" title="Reset Your Password">
    <style>
        @font-face {
  font-family: 'portalfont';
  src: url('/partners/resource/PRMassets/proximanova-reg.eot');
  src: local('?'),
         url('/partners/resource/PRMassets/proximanova-reg.woff') format('woff'), url('/partners/resource/PRMassets/proximanova-reg.ttf') format('truetype');
}
        .bodyDiv{
            min-height: 150px !important;
        }
        div, input, p, span, label { font-family: portalfont, Arial;font-size:14px; color:#696969; }
        table { margin-left:20px; width:690px; }
        input[type="submit"] { float:right; border:0 !important; text-indent:-9999px; display:block; width:275px; height:65px; background:none !important; background: url(/partners/resource/PRMassets/login_btn.png) !important; }
        .footerlinks { margin-top:80px; }
        .footerlinks a{ text-decoration:none;  }   
        .footerlinks a.textlink { border-right:solid 1px #575757; padding-right:5px; }
        .footerlinks a.imglink { margin-top:10px; }
        .footerlinks a, .footerlinks span, .footerlinks span { color:#575757; display:inline-block; }
        tr td:first-child { text-align:right; width:150px; }
        td { padding-bottom:10px; padding-left:5px; }
        input { width:225px; }
    </style>
    <div style="width:984px; margin:0 auto; padding:20px; ">
      <img src="/partners/resource/PRMassets/login_img.png" style="display:block; float:left; margin-bottom:50px;"></img>
      <br /> <br /> <br />
        <div style="width:714px; margin:0 auto;  clear:left; border:solid 15px #f06119; border-radius:5px; padding:10px; ">
        <p style="margin-top:0px; color:#eb2a00;  font-size:22px;">CHANGE YOUR PASSWORD</p>
        <span>Passwords are case sensitive, so ensure you don't have caps lock enabled.</span>
        <apex:form id="theForm">
            <apex:pageMessages id="error"/>
            <apex:panelGrid columns="2" style="margin-top:1em;">
              <apex:outputLabel value="Old Password" for="oldpsw"/>
              <apex:inputSecret required="true" id="oldpsw" value="{!oldPassword}"/>
              <apex:outputLabel value="New Password" for="psw"/>
              <apex:inputSecret required="true" id="psw" value="{!newPassword}"/>
              <apex:outputLabel value="Verify New Password" for="vpsw"/>
              <apex:inputSecret required="true" id="vpsw" value="{!verifyNewPassword}"/>
              <apex:outputText value=""/>
              <apex:commandButton id="cpwbtn" action="{!resetPassword}" value="Reset Password" rendered="{!NOT(passwordChanged)}"/>
              <apex:outputLabel value="Your password has been changed. You may now close this window." rendered="{!passwordChanged}"/>
            </apex:panelGrid> 
        </apex:form>
        </div>
        <div class="footerlinks">
            <span style=" ">&copy; 2014 Pure Storage Inc </span> 
            <a target="_new" href="http://www.purestorage.com/privacy/" class="textlink">Privacy Policy</a>
            <a target="_new" href="/partners/servlet/servlet.FileDownload?file=015g0000000HBnd" class="textlink">Program Guidelines</a>
            <a target="_new" href="http://www.purestorage.com/terms/" class="textlink">Terms &amp; Conditions</a>
            <a target="_new" href="mailto:dealreg@purestorage.com" class="textlink" style="border:0px !important;">Channel Contact Support</a>
            <div style="margin-top: -40px;width: 250px;margin-left: 700px;">
                <a target="_new" href="https://www.facebook.com/PureStorage" class="imglink"><img src="/partners/resource/PRMassets/login_fb.png"></img></a>
                <a target="_new" href="https://twitter.com/purestorage" class="imglink"><img src="/partners/resource/PRMassets/login_tw.png"></img></a>
                <a target="_new" href="http://www.linkedin.com/company/pure-storage" class="imglink"><img src="/partners/resource/PRMassets/login_in.png"></img></a>
                <a target="_new" href="https://plus.google.com/104856539646760720998/posts" class="imglink"><img src="/partners/resource/PRMassets/login_gplus.png"></img></a>
                <a target="_new" href="http://feeds.feedburner.com/purestorage" class="imglink"><img src="/partners/resource/PRMassets/login_rss.png"></img></a>
                <a target="_new" href="https://www.youtube.com/user/purestorage" class="imglink"><img src="/partners/resource/PRMassets/login_yt.png"></img></a>
            </div>
        </div>
    </div>
</apex:page>