<apex:page id="quote_sync_status" controller="CeligoTransferOrderSyncPoller" tabStyle="NetSuite_Sales_Order__c" showHeader="false">    
    <style>
        h1 {
            color: #205d8b;
            font-size: 18px;
            font-weight: bold;
            margin: 0 0 5px 0;
            padding: 10px 0 0 0;
        }
        
        img.loader {
            padding-top: 5px;
            margin: 0em;
            align: middle;
        }
        
        div.background {
            border-style: none;
            padding-left: 20px;
            margin: 40px 20px;
        }
    </style>
    
    <apex:form >
        <apex:actionStatus id="status"
            onStart="document.body.style.cursor = 'wait'; return true;"
            onStop="document.body.style.cursor = 'default'; return true;">
        </apex:actionStatus>
        
        <apex:actionPoller action="{!checkSyncStatus}" rerender="content" status="status" interval="5" timeout="60000" />

        <apex:outputPanel id="content" layout="block">
            <apex:pageBlock >
                <div class="background">
                    <h1>
                        <apex:outputText value="{!message}" />
                    </h1>
                    <br />
                    <h3>
                        <i><apex:outputText value="{!errorMessage}" rendered="{!showError}" /></i>
                    </h3>
                    <apex:image id="loader" value="{!$Resource.SquareLoaderBar}" rendered="{!showLoader}" /> <br />
                    <br />
                </div>
            </apex:pageBlock>
        </apex:outputPanel>
    </apex:form>

</apex:page>