<apex:page controller="mkto_si.DashboardController" showHeader="true" sidebar="true" tabstyle="Marketo_Sales_Insight__tab" action="{!decrementWelcomeCounter}">
	<c:CssAndJavascript2 />
	<script src="{!$Resource.jqueryTools}" type="text/javascript"></script>

	<apex:form id="theForm" styleClass="mkto">
		<apex:sectionHeader title="Marketo Sales Insight" rendered="true" help="{!helpLink}"/>
		
		<div id="db-welcome">
			<apex:pageBlock id="mktWelcomeBlock" rendered="{!showWelcome}" tabStyle="Contact">
				<div class="mktWelcome">
					<iframe src="{!welcomeURL}" border="0" frameborder="0" scrolling="no"></iframe> 
					
					<div class="mktClearWelcomeButton">
						<apex:commandLink action="{!clearWelcomeCounter}" onclick="Marketo.hideWelcomeMessage()" rerender="mktWelcomeBlock">
							<span>Skip welcome message</span>
							<span class="mkt-show-{!debug}">({!welcomeCounter})</span>
						</apex:commandLink>

						<apex:actionFunction name="decrementWelcomeCounter" action="{!decrementWelcomeCounter}" rerender="welcomeCounterPanel"/>
						<apex:outputPanel id="welcomeCounterPanel"/>
					</div>
				</div>
						
				<script type="text/javascript">
					Marketo.hideWelcomeMessage = function()
					{
						$j('#db-welcome').slideUp(1000);
					};
				</script>
			</apex:pageBlock>
		</div>
		
		<apex:outputPanel rendered="{!showWhatIsNew}">
			<div id="db-what-is-new">
				<h2>What's New</h2>
				<ul>
					<li>
						<a href="http://pages2.marketo.com/msi_customview.html" target="_blank">Custom Views and Filters</a>
						<br />
						<span>Create custom views on your Best Bets dashboard</span>
					</li>
					<li>
						<a href="http://pages2.marketo.com/msi_hidelead.html" target="_blank">Hide Setting for My Best Bets</a>
						<br />
						<span>Put a lead on hold for a preset time period with a single click</span>
					</li>
					<li>
						<a href="http://pages2.marketo.com/msi_managerview.html" target="_blank">My Team's Best Bets (Manager View)</a>
						<br />
						<span>View the Best Bets for each rep on your team</span>
					</li>
				</ul>
				
				<a href="#" id="db-what-is-new-close" title="Close"></a>
				<a href="#" id="db-what-is-new-disable">Don't show again</a>
			</div>
		</apex:outputPanel>
            
        <!-- Main Table: Dashboard on left, lead feed on right -->
        <table id="db-content" border="0" class="dashboard" cellspacing="0" cellpadding="0" style="width: 100%">
        <tr>

        <!-- Dashboard Section -->
        <td style="width:75%">

        <apex:outputPanel id="mainblock"> <!-- START mainblock -->
            <!-- Tabs -->
                    <table id="db-tabs" cellspacing="0" cellpadding="0" border="0" class="tabsNewBar">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="tabNavigation">
                                        <div class="tabBarLeft"></div>
                                        <table cellspacing="0" cellpadding="0" border="0" class="tab">
                                            <tbody>
                                                <tr>
                                                    <td nowrap="nowrap" class="{!IF(currentTabView == 'MBB', 'currentTab primaryPalette', '')}">
                                                        <div id="MBB_Tab">
                                                            <a title="Best Bets" href="?view=MBB" data-view="MBB">Best Bets</a>
                                                        </div>
                                                    </td>
                                                    <td nowrap="nowrap" class="{!IF(currentTabView == 'MWL', 'currentTab primaryPalette', '')}">
                                                        <div id="MWL_Tab">
                                                            <a title="My Watch List" href="?view=MWL" data-view="MWL">My Watch List</a>
                                                        </div>
                                                    </td>
                                                    <td nowrap="nowrap" class="{!IF(currentTabView == 'WA', 'currentTab primaryPalette', '')}">
                                                        <div id="WA_Tab">
                                                            <a title="Web Activity" href="?view=WA" data-view="WA">Web Activity</a>
                                                        </div>
                                                    </td>
                                                    <td nowrap="nowrap" class="{!IF(currentTabView == 'AWA', 'currentTab primaryPalette', '')}">
                                                        <div id="AWA_Tab">
                                                            <a title="Anonymous Web Activity" href="?view=AWA" data-view="AWA">Anonymous Web Activity</a>
                                                        </div>
                                                    </td>
                                                    <td nowrap="nowrap" class="{!IF(currentTabView == 'ME', 'currentTab primaryPalette', '')}">
                                                        <div id="ME_Tab">
                                                            <a title="My Email" href="?view=ME" data-view="ME">My Email</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="tabBarRight"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div id="db-body" class="mkt-tabs-body">
                        <div class="mkt-tabs-body-shadow-l"></div>
                        <div class="mkt-tabs-body-shadow-r"></div>
                        <div class="mkt-tabs-body-shadow-b">
                            <div class="mkt-tabs-body-shadow-bl"></div>
                            <div class="mkt-tabs-body-shadow-br"></div>
                        </div>

                        <apex:pageBlock >
                    <!-- Loading -->        
                    <apex:actionStatus id="db-status" onStart="Marketo.setLoading(this.parentNode.parentNode)" onStop="Marketo.unsetLoading(this.parentNode.parentNode)" />

                    <!-- ********** HEADER SECTION ********** -->
                    <apex:pageBlockSection showHeader="false" collapsible="false" columns="1">
                        <apex:pageBlockSectionItem >
                            <apex:outputPanel >
                                <!-- View Select Box -->
                                <apex:outputText value="View: " style="font-weight:normal;"/>&nbsp;&nbsp;
                                <select id="db-views-list">
                               		<optgroup label="Standard Views">
	                               		<option value="MBB">My Best Bets</option>
	                               		<option value="MHBB">My Best Bets (Hidden)</option>
	                               		<option value="MTBB">My Team's Best Bets</option>
	                               		<option value="MWL">My Watch List</option>
	                               		<option value="WA">Web Activity</option>
	                               		<option value="AWA">Anonymous Web Activity</option>
	                               		<option value="ME">My Email</option>
	                               	</optgroup>
                               		<optgroup label="Custom Views">
                               			<apex:repeat value="{!viewList}" var="item">
                               				<option value="{!item.value}">{!item.label}</option>
                               			</apex:repeat>
                                	</optgroup>
                                </select>
        
												        <!-- Hidden field that represents current view value and used for refresh -->
												        <apex:inputText id="dbCurrentViewValue" value="{!currentView}" styleClass="mkt-show-false">
												            <apex:actionSupport event="onchange" action="{!loadView}" status="db-status" rerender="mainblock"/>
												        </apex:inputText>
												        
                                <script type="text/javascript">
                                    var $viewsList = $j('#db-views-list');
                                    
                                    // setup view selection list
                                    $viewsList.val('{!currentView}');
                                    
																		// remove hidden best bets view from view select box in debug mode
																		if({!bestBetsDebugMode}) {
																			var options = $viewsList[0].options;
																			for(var i = 0, l = options.length; i < l; i++) {
																				if(options[i].value == 'MHBB') {
																					options[i] = null;
																					break;
																				}
																			}
																		}
																		
																		// update current view value element on each refresh
																		Marketo.$currentViewValue = $j(document.getElementById('{!$Component.dbCurrentViewValue}'));
                                </script>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                
                                <!-- Edit Link -->
                                <apex:outputPanel >
                                    <a href="{!IF(isStandardView, $Page.BestBetsStandardViewEdit, $Page.BestBetsViewEdit)}?view={!currentView}" onclick="Marketo.actionStart();" style="font-size:1.1em; text-decoration:none; font-style:normal; color:#015BA7;">Edit</a>
                                  	&nbsp;
                                    <apex:outputText value="|" style="color:#707070; font-weight:bold;"/>
                                    &nbsp;
                                </apex:outputPanel>

                                <!-- Create New View Link -->
                                <a href="{!$Page.mkto_si__BestBetsViewEdit}" onclick="Marketo.actionStart();" style="font-size:1.1em; color:#015BA7; text-decoration:none; font-style:normal;">Create New View</a>
		                            
                                <!-- Time Select Box -->
		                            <apex:outputPanel rendered="{!(currentTabView == 'WA' || currentTabView == 'AWA') && NOT(setCon.errorsOnPage && setCon.errorMessage == 'API_SET_TERRITORY')}">
		                            	<div style="float: right">
		                                <apex:outputText value="Time Frame: " style="font-weight:normal;"/>&nbsp;&nbsp;
		                                <apex:selectList value="{!selectedTime}" size="1" id="theList">
		                                    <apex:actionSupport event="onchange" action="{!refreshView}" status="db-status" rerender="mainblock"/>
		                                    <apex:selectOptions value="{!timeList}"/>
		                                </apex:selectList>
		                                
		                                <!--<div class="mktLinksRight">
		                                    <a href="{!$Page.ConfigureTerritory}" style="text-decoration: none;" target="_top">
		                                        <img src="{!$Resource.web}/mkto/images/earth_location.png"/>
		                                        <span style="text-decoration: underline;">Choose Territory</span>
		                                    </a>
		                                </div>-->
		                            	</div>
		                            </apex:outputPanel>
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                    </apex:pageBlockSection>
            
                    <!-- ********** BODY SECTION ********** -->
                    <!-- TODO: Place each component within its own tab (extjs, etc.) -->
										<apex:actionFunction name="sortByCount" action="{!sortByCount}" rerender="tab-components" status="db-status" immediate="true" />
										<apex:actionFunction name="sortByDate" action="{!sortByDate}" rerender="tab-components" status="db-status" immediate="true" />
										
                    <apex:outputPanel id="tab-components">
	                    <c:BestBetsTab setCon="{!setCon}" escape="{!escape}" currentSObjectName="{!currentSObjectName}" currentView="{!currentView}" hideDays="{!defaultBestBetsHideDays}" rendered="{!(currentTabView == 'MBB')}"/>
	                  	<c:WatchListTab setCon="{!setCon}" escape="{!escape}" currentSObjectName="{!currentSObjectName}" helpLink="{!helpWatchListLink}" rendered="{!(currentTabView == 'MWL')}"/>
                      <c:WebActivityTab setCon="{!setCon}" escape="{!escape}" currentSObjectName="{!currentSObjectName}" isGrouped="{!isGroupedWebActivity}" rendered="{!(currentTabView == 'WA')}"/>
	                    <c:AnonWebActivityTab setCon="{!setCon}" escape="{!escape}" currentSObjectName="{!currentSObjectName}" rendered="{!(currentTabView == 'AWA')}"/>
	                    <c:EmailActivityTab setCon="{!setCon}" escape="{!escape}" currentSObjectName="{!currentSObjectName}" rendered="{!(currentTabView == 'ME')}"/>
										</apex:outputPanel>

										<apex:outputPanel id="navigation-panel">
											<!-- Limited rows message -->
											<div class="mkt-tabs-message mktDisplay-{!setCon.isRowsLimited}">
												<span>Maximum pages reached</span>
												<br />
												<a href="{!IF(isStandardView, $Page.BestBetsStandardViewEdit, $Page.BestBetsViewEdit)}?view={!currentView}" onclick="Marketo.actionStart();">Edit the view</a>
	                      <span> to increase pages or </span>
												<apex:commandLink value="Go Back" action="{!previous}" status="db-status" rerender="mainblock"/>
											</div>

	                    <!-- ********** FOOTER SECTION ********** -->
                            <apex:pageBlockSection columns="1" rendered="{!setCon.isValidList && setCon.resultSize > 0 && (setCon.hasPrevious || setCon.hasNext)}">
                                <apex:pageBlockSectionItem dataStyle="text-align:right;">
                                    <apex:outputPanel rendered="{!setCon.hasPrevious || setCon.hasNext}">
                                        <apex:commandLink action="{!previous}" status="db-status" value="« Previous Page" style="color:#015BA7; text-decoration:none;" rendered="{!setCon.hasPrevious}" rerender="tab-components, navigation-panel"/>&nbsp;&nbsp;&nbsp;
                                        <!--<apex:outputText value="Showing {!setCon.pageRowStart}-{!setCon.pageRowEnd} of {!setCon.resultSize}" Id="pageinfo2"/>&nbsp;&nbsp;&nbsp;-->
                                        <apex:commandLink action="{!next}" status="db-status" value="Next Page »" style="color:#015BA7; text-decoration:none;" rendered="{!setCon.hasNext}" rerender="tab-components, navigation-panel"/>
                                    </apex:outputPanel>
                                </apex:pageBlockSectionItem>
                            </apex:pageBlockSection>
                          </apex:outputPanel>
                
                <!-- mbb, mwl, wa, awa, me -->
                </apex:pageBlock> <!-- END mainblock -->
            </div>
                </apex:outputPanel>
        </td>

        <!-- Lead Feed section -->
        <td id="db-feed" align="right" style="width:25%">
            <apex:pageBlock id="leadfeed">
                <c:Stream currentSObjectId="{!currentSObjectId}" currentSObjectType="{!currentSObjectType}" escape="{!escape}"/>
            </apex:pageBlock>
        </td>
        </tr>
        </table>

			<script type="text/javascript">
				(function() {
					function loadView(view)
					{
						Marketo.$currentViewValue.val(view);
						Marketo.$currentViewValue.trigger('change');
					}
					
					$j(function() {
						if({!showWhatIsNew}) {
							$tooltipParent = $j('.bodyDiv').eq(0);
							
							$j('#db-what-is-new').appendTo($tooltipParent);
							
							$j('#db-what-is-new-close').click(function() {
								$j('.mkto').data('tooltip').hide();
	
								return false;
							});
							
							$j('#db-what-is-new-disable').click(function() {
								Marketo.ajax('disableWhatIsNew');
								$j('.mkto').data('tooltip').hide();
	
								return false;
							});
							
							$j('.mkto').tooltip({
								tip: '#db-what-is-new',
								effect: 'slide',
								position: 'top right',
								relative: true,
								offset: [290, -351],
								events: {
									def: 'load, unload',
									tooltip: 'mouseenter'
								},
								onShow: function() {
									var $tip = this.getTip();
									
									this.getTip().css({
										left: 'auto',
										right: $tooltipParent.width() - $tip.outerWidth() - $tip.position().left
									});
								}
							});
							
							$j('.mkto').data('tooltip').show();
						}
						
						$j('#db-content')
							// views list listener
							.delegate('#db-views-list', 'change', function() {
								loadView($j('#db-views-list').val());
							})
							// tabs listener
							.delegate('#db-tabs a', 'click', function(e) {
								loadView($j(this).data('view'));
								
								e.preventDefault();
							});
					});
				})();
			</script>
    </apex:form>
</apex:page>