<apex:page id="pg" standardcontroller="Case" extensions="csmrgp.CsMrgDupeDetectorCtrl" showHeader="false" standardStylesheets="true" >
    
    <apex:includeScript value="/support/console/28.0/integration.js"/>
    
    <script type="text/javascript">
        function triggerQuery(){
            startQuery();
            return false;
        }
    </script>

    <apex:form id="frm">
        <body onload="triggerQuery()">
            <apex:actionFunction name="startQuery" action="{!runCaseSearch}" rerender="lblPanel" />
            <apex:outputPanel id="lblPanel">
                <script>    
                    function openCMP(){
                        sforce.console.getEnclosingPrimaryTabId(navCMP);
                    }
                    
                    var navCMP = function navCMP(result) {
                        var primaryTabId = result.id;
                        sforce.console.openSubtab(primaryTabId , "{!linkUrl}", true);
                    };
                </script> 
                
                <apex:outputLink id="lblFoundConsole" value="#" onclick="openCMP();" style="background-color:gold; display:{!IF(dupesFound, 'block', 'none')}">{!linkText}</apex:outputLink>
                <apex:outputLink id="lblFound" value="{!linkUrl}" target="_parent" style="background-color:gold; display:{!IF(dupesFound, 'block', 'none')}">{!linkText}</apex:outputLink>
                <apex:outputText id="lblNone" style="display:{!IF(dupesFound, 'none', 'block')}" value="{!IF(queryRunning, 'Searching...', 'None')}"/>
               
               <script>   
                if(sforce.console.isInConsole()){
                    document.getElementById('pg:frm:lblFound').style.display = 'none';
                }
                else{
                    document.getElementById('pg:frm:lblFoundConsole').style.display = 'none'; 
                }
                </script>
           
            </apex:outputPanel>   
        </body>
    </apex:form>

</apex:page> <!-- 15px height -->