<apex:component >
	<apex:attribute required="true" name="doc" type="ContentVersion" description="Content Document Id"/>
	<apex:attribute required="true" name="doRender" type="Boolean" description="Boolean to indicate whether the Thumbnail image is rendered"/>
 	<apex:includeScript value="{!$Resource.jquery_1_11_0}" />
    <apex:includeScript value="{!$Resource.jquery_ui_js}" />
    <apex:stylesheet value="{!$Resource.jquery_ui}" />
    <script type="text/javascript">
    	$(document).ready(function () {
		    $(".test").click(function () {
		        $("#thedialog").attr('src', $(this).attr("href"));
		        $("#somediv").dialog({
		            width: 880,
		            height: 600,
		            modal: true,
		            close: function () {
		                $("#thedialog").attr('src', "about:blank");
		            }
		        });
		        return false;
		    });
		});
    </script>
    <style>
    	.ui-dialog{
            z-index: 9999999 !important;
        }
    </style>
    <apex:outputLink styleClass="test" value="/apex/PreviewDocument?id={!doc.Id}" style="margin-right: 100px;" rendered="{!NOT(doc.FileType == 'LINK')}">
    	<apex:outputText value="Preview" rendered="{!NOT(doRender)}" styleClass="stylelinks" />
    	<apex:outputField value="{!doc.Content_Thumbnail__r.Image__c}" rendered="{!doRender}"/>
    </apex:outputLink>
    <apex:outputLink value="{!doc.ContentUrl}" style="margin-right: 100px;" rendered="{!doc.FileType == 'LINK'}" target="_blank">
    	<apex:outputText value="Open" rendered="{!NOT(doRender)}" styleClass="stylelinks" />
    	<apex:outputField value="{!doc.Content_Thumbnail__r.Image__c}" rendered="{!doRender}"/>
    </apex:outputLink>
</apex:component>