<apex:page controller="LeanData.OnDemandView" extensions="LeanData.Basic" action="{! initializeAllowedAndView}">
    <c:accessCheck isAllowed="{! isAllowed}">
        <apex:outputPanel id="view">
            <img src="{!$Resource.leandata_logo}" class="leandata_logo_header"/>
            <apex:outputPanel rendered="{! !initialized}">
                <c:loading />
            </apex:outputPanel>
            
            <apex:outputPanel rendered="{! initialized}">
                <c:matchedViewAssets view_type="Matched Accounts Detail" with_dupes="false" with_l2a_matches="{! matchedAccounts.size > 0}" load_time="{! loadTime}"/>
                <c:matchedAccountsNew accountFieldLabelMap="{! accountFieldLabelMap}" tableHeight="{! 800}" displayedAccountCols="{! displayedAccountCols}" isDetail="true" isSysAd="{! isSysAd}" matchedAccounts="{! matchedAccounts}" matchedAccountCount="{!matchedAccountCount}" lead="{! currentSobject}" rowLimit="{! rowLimit}" fullCircleCstatusField="{! fullCircleCstatusField}"/>
            </apex:outputPanel>
        </apex:outputPanel>

        <script>
            console.log('COMPLETE');
            initialize();
        </script>
    </c:accessCheck>
</apex:page>