<apex:page standardController="Account" extensions="LeanData.Basic,LeanData.MatchedLeads">
    <c:matchedViewAssets view_type="Matched Leads Details" with_dupes="false" with_l2a_matches="false"/>
    <c:matchedLeads leadFieldLabelMap="{! leadFieldLabelMap}" isDetail="{! isDetail}" account="{! account}" isSysAd="{! isSysAd}" isEmpty="{! isEmpty}" tableHeight="{! tableHeight}" pairs="{! pairs}" displayedCols="{! displayedCols}" displayedCount="{! displayedCount}"/>
</apex:page>