<apex:page controller="LeanData.OnDemandView" extensions="LeanData.Basic" action="{! initializeAllowedAndView}">
    <c:accessCheck isAllowed="{! isAllowed}">
        <apex:outputPanel id="view">
            <img src="{!$Resource.leandata_logo}" class="leandata_logo_header"/>
            <apex:outputPanel rendered="{! !initialized}">
                <c:loading />
            </apex:outputPanel>
            
            <apex:outputPanel rendered="{! initialized}">
                <c:matchedViewAssets view_type="Matched Leads Detail" with_dupes="false" with_l2a_matches="{! matchedLeads.size > 0}" load_time="{! loadTime}"/>
                <c:matchedLeadsNew leadFieldLabelMap="{! leadFieldLabelMap}" isDetail="true" account="{! currentSobject}" isSysAd="{! isSysAd}" tableHeight="{! 800}" matchedLeads="{! matchedLeads}" matchedLeadCount="{! matchedLeadCount}" displayedLeadCols="{! displayedLeadCols}" isL2AMassConvertAllowed="{! isL2AMassConvertAllowed}" rowLimit="{! rowLimit}" fullCircleCstatusField="{! fullCircleCstatusField}"/>
            </apex:outputPanel>
        </apex:outputPanel>

        <script>
            console.log('COMPLETE');
            initialize();
        </script>
    </c:accessCheck>
</apex:page>