<apex:page tabstyle="CEFS__Contract__c" standardController="CEFS__Contract__c" extensions="CEFS.Controller_Contract_Edit" action="{!Setup}" title="Contract - Edit" showHeader="{!ShowHeader}">

  <DIV CLASS="Debug">{!DebugText}</DIV>

  <DIV CLASS="ContractExpressEditor">
    <IFRAME
      ID="ContractExpressEditor"
      NAME="{!HTMLENCODE(LoginToken)}"
      SRC="{!HTMLENCODE(EditContract)}?readonly={!HTMLENCODE(ReadOnly)}&contractidentifier={!HTMLENCODE(ContractIdentifier)}&onfinishurl={!HTMLENCODE(OnFinishURL)}"
      WIDTH="100%"
      HEIGHT="10000px"
      FRAMEBORDER="no" />
  </DIV>
  
  <SCRIPT language="JavaScript">
  
    if ( window.addEventListener )                                                            // W3C
    {
      window.addEventListener( "resize",  function (e) { e.stopPropagation() ; reSizeFrame() ;                }, false ) ;
      window.addEventListener( "load",    function (e) { e.stopPropagation() ; sizeFrame() ; startEditing() ; }, false ) ;
      window.addEventListener( "message", function (e) { e.stopPropagation() ; messageListener( e.data ) ;    }, false ) ;
    }
    else if ( window.attachEvent )                                                            // IE
    {
      window.attachEvent( "onresize",  function () { var e = window.event ; e.cancelBubble = true ; reSizeFrame() ;                  } ) ;
      window.attachEvent( "onload",    function () { var e = window.event ; e.cancelBubble = true ; reSizeFrame() ; startEditing() ; } ) ;
      window.attachEvent( "onmessage", function () { var e = window.event ; e.cancelBubble = true ; messageListener( e.data ) ;      } ) ;
    }
    
    function startEditing()
    {
      var editorWindow = document.getElementById( 'ContractExpressEditor' ).contentWindow ;
      if ( editorWindow.postMessage )
      {
        editorWindow.postMessage( "{!JSENCODE(LoginToken)}", "*" ) ;
      }
    }
    
    var showingPreview      ;
    var onHidePreviewHeight ;
    
    function sizeFrame()
    {
      onHidePreviewHeight = document.getElementById("ContractExpressEditor").style.height ;
    }
    
    function reSizeFrame()
    {
      var phHeaderElement     = document.getElementById("phHeader") ;
      var tabContainerElement = document.getElementById("tabContainer") ;
      var frameElement        = document.getElementById("ContractExpressEditor") ;

      if ( showingPreview )
      {
        var windowHeight        = window.innerHeight ;
        var phHeaderHeight      = ( phHeaderElement     ? 80 : 0 ) ;
        var tabContainerHeight  = ( tabContainerElement ? 30 : 0 ) ;
        var pageFooterHeight    = 50 ;
        var safetyRegionHeight  = 20 ;
        var availableHeight     = windowHeight - phHeaderHeight - tabContainerHeight - pageFooterHeight - safetyRegionHeight ;
        var onShowPreviewHeight = availableHeight.toString() + "px" ;
      
        frameElement.style.height     = onShowPreviewHeight ;
        document.body.style.overflowY = "hidden" ;
      }
      
      else
      {
        frameElement.style.height     = onHidePreviewHeight ;
        document.body.style.overflowY = "scroll" ;
      }
    }

    function messageListener( _Message )
    {
      console.log( "Message received = [" + _Message + "]" ) ;
      switch ( _Message )
      {
        case "scrolltotopleft" :
        {
          window.scrollTo( 0, 0 ) ;
          var _BodyElement = document.body ;
          _BodyElement.scrollTop  = 0 ;
          _BodyElement.scrollLeft = 0 ;
          _BodyElement.scrollY    = 0 ;
          _BodyElement.scrollX    = 0 ;
          break ;
        }

        case "showpreview" :
        {
          showingPreview = true ;
          reSizeFrame() ;
          break ;
        }

        case "hidepreview" :
        {
          showingPreview = false ;
          reSizeFrame() ;
          break ;
        }
      }
    }
  
  </SCRIPT>
  
  <STYLE>
  
    DIV.Debug
    {
      font-family      : Courier ;
      font-size        : 10pt ;
      color            : #808080 ;
      white-space      : pre-wrap ;
      display          : block ;
    }
    
    DIV.ContractExpressEditor
    {
      margin           : 10px ;
    }
    
    #contentWrapper
    {
      min-width        : 500px ;
    }
    
    #bodyCell
    {
      padding          : 0px ;
    }
    
    td.searchCell
    {
      display          : none ;
    }
    
    #sidebarCell
    {
/*
      display          : none ;
*/
    }
    
    td.right.vtop
    {
      width            : 50% ;
    }
  
  </STYLE>

</apex:page>