<apex:page tabstyle="CEFS__Contract__c" standardController="CEFS__Contract__c" extensions="CEFS.Controller_Contract_EditFullWindow" action="{!Setup}" title="Contract - Edit (Full Window)">
  <h1>This page should never be rendered!</h1>
</apex:page>