<apex:page tabstyle="CEFS__Contract__c" standardController="CEFS__ContractDocument2__c" extensions="CEFS.Controller_ContractDocument2_View_PDF" action="{!Setup}" title="Contract Document - View PDF">

  <DIV CLASS="Main">
    <apex:form onkeypress="">
      <apex:commandButton value="Close" title="Close" action="{!Close}"/>
    </apex:form>
  </DIV>

  <IFRAME
    NAME="{!HTMLENCODE(LoginToken)}"
    SRC="{!HTMLENCODE(ContractExpressURL)}ViewPDF?contractidentifier={!HTMLENCODE(ContractIdentifier)}&documentidentifier={!HTMLENCODE(DocumentIdentifier)}"
    WIDTH="100%"
    HEIGHT="500px"
    FRAMEBORDER="no" />

  <STYLE>
  
    DIV.Main
    {
      margin           : 20px ;
      font-family      : Arial, Helvetica, sans-serif ;
      font-size        : 11pt ;
      font-weight      : normal ;
      font-style       : normal ;
      text-decoration  : none ;
      text-align       : center ;
    }
  
  </STYLE>

</apex:page>