<apex:page tabstyle="CEFS__Contract__c" standardController="CEFS__Contract__c" extensions="CEFS.Controller_Contract_Edited" action="{!Setup}" title="Contract - Edited">
  <h1>This page should never be rendered!</h1>
</apex:page>