<apex:page tabstyle="CEFS__Contract__c" standardController="CEFS__Contract__c" extensions="CEFS.SIM_Contract_SendForSignature" title="Simulation - Contract - Send for Signature">
  <apex:form >
    <p>Simulation of a set of documents being sent for signature</p>
    <apex:commandButton value="Send Now" action="{!SendNow}" />
    <apex:commandButton value="Cancel"   action="{!Cancel}"  />
  </apex:form>
</apex:page>